.contact{
	position:relative;
}

.contact .author-featurette .author-networks ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

.contact .author-featurette .author-networks ul li{
	display:inline-block;
}

.contact .author-featurette.align-right{
	right:0;
}

.contact .author-featurette.align-left{
	left:0;
}

.contact .author-featurette{
	position:absolute;
}