/********************************************************

	General style for labs section: featurettes list and
	base css rules for the lab view (when a user selects
	a lab)

********************************************************/

.labs-list{
	width:100% !important;
	max-width: 50em !important;
	margin-left: auto;
	margin-right: auto;
}

.lab-area{
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	color: rgba(0,0,0,0.6);
	margin-bottom: 4px;
	letter-spacing: -0.02em;
	font-weight: 300;
	font-style: normal;
	
	font-size:15px;
}

.labs .align-left{
	text-align: left;
}

.labs .align-right{
	text-align: right;
}

.labs .align-center{
	text-align:center;
}


.labs .lab-area{
	
	padding-top: 120px;
	overflow: hidden;
	
	margin-left: 1em;
	margin-right: 1em;
	
	text-align: justify;
}

.labs .lab-area .lab-description{
	font-size:15px;
}
.site-header .external-links a{
	margin-left:1em;
	margin-right:1em;
}

.labs .lab-area  h3{
	
	font-weight: 700;
	font-style: normal;
	letter-spacing: -0.02em;
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 2px;
}

.labs .lab-area .supported-browsers ul{
	padding:0;
	margin:0;
	display:inline-block;
}

.labs .lab-area .supported-browsers li{
	display:inline-block;
}

.labs .lab-area .lab-area-img{
	margin-top: -120px;
	height:400px;
}

.labs .lab-area .lab-area-img.pull-right {
	margin-left: 40px;
}

.labs .lab-area .lab-area-img.pull-left {
	margin-right: 40px;
}

body > div.lab-area{
	padding-top:520px;
}

.browser-icon{
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	height:35px;
	width:35px;
}
.platform-icon{
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: inline-block;
	
	width: 30px;
	height: 30px;
	margin-right: 1em;
}
.desktop-icon{
	background-image: url('../imgs/desktop-icon.png');
}

.mobile-devices-icon{
	background-image: url('../imgs/mobile-devices-icon.png');
}

.chrome-icon{
	background-image: url('../imgs/browser-icons/chrome.png');
}

.ie-icon{
	background-image: url('../imgs/browser-icons/ie.png');
}

.opera-icon{
	background-image: url('../imgs/browser-icons/opera.png');
}

.safari-icon{
	background-image: url('../imgs/browser-icons/safari.png');
}

.firefox-icon{
	background-image: url('../imgs/browser-icons/firefox.png');
}

/* Media queries section */

@media screen and (max-width: 1200px){
	body > div.lab-area{
		padding-top:420px;
	}
}

@media screen and (max-width: 650px){
	.labs .lab-area .lab-area-img{
		height:200px;
	}
	
	.browser-icon{		
		height:30px;
		width:30px;
	}
	
	.platform-icon{		
		height:25px;
		width:25px;
	}
}

@media screen and (max-width: 600px){
	body > div.lab-area{
		padding-top:370px;
	}
	
	.labs .lab-area  h3{
		font-size: 20px;
	}
}