#map-container {
	height: 500px;
	width: 700px;
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#map {

	width: 100%;
	height: 100%;
	margin: 0;
}


#legend {
	width: 200px;
	height: 10px;
	margin: 0;
}


path.state {
	stroke: #666;
	stroke-width: .3;
}

path.state:hover {
	stroke: #222;
}

.lab-area .cartogram{
	width: 80%;
	max-width: 55em;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width:500px) and (max-width: 800px){
	#map-container {
		position: absolute;
		left: -176px;
	}
	
	.lab-area .cartogram {
		width:90%;
	}
	
	.lab-area .cartogram > div:first-child + div{
		position: relative;
		overflow: hidden;
		width: 430px;
		height: 700px;
	}
}

@media (min-width:350px) and (max-width: 500px){
	#map-container {
		position: absolute;
		left: -214px;
	}
	
	.lab-area .cartogram {
		width:95%;
	}
	
	.lab-area .cartogram > div:first-child + div{
		position: relative;
		overflow: hidden;
		width: 340px;
		height: 700px;
	}
}
